* {
    outline: none;
    margin: 0;
    padding: 0;
}

.header1 {
    padding: 0 15%;
}

.logo {
    float: left;
    margin: 20px 0;
    font-size: 36px;
}

.nav {
    float: right;
}

.header1::after {
    content: "";
    display: block;
    clear: both;
}

.link {
    float: left;
    font-size: 20px;
    padding: 30px 10px;
}

.link:hover {
    background-color: gray;
    cursor: pointer;
}

